/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.tableCell{
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #3498DB;
}

.error_message{
	color: #ED0E0E;
	font: 4em;
	font-size: large;
}

.success_message{
	color: blue;
	font: 4em;
	font-size: large;
}