.headerLabel{
	text-align: center;
	color: white;
	font-size: 2em;
	width: 100%;
	font-family: value('font.getFontName')
}

.distance{
	height: 15px;
}

.distanceSmall{
	height: 10px;
}

.ueberschrift{
	width: 90%;
	color:#3498DB;
	font-size: 1.5em;
	font-family: value('font.getFontName')
}

.resultLabel{
	text-align: center;
	color: #3498DB;
	font-size: 1.5em;
	width: 100%;
	font-family: value('font.getFontName')
}




